.header {
  width: 1320px;
  height: 47px;
}
/* .menu {
  position: absolute;
  width: 650px;
  height: 22px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #646464;
}
.logo {
  position: absolute;
  width: 151px;
  height: 47px;
} */
