.main2row {
  display: flex;
  justify-content: space-between;
}
.nadzagolovok2 {
  margin-left: 200px;
  position: absolute;
  width: 229px;
  height: 28px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  color: #646464;
}
.zagolovok2 {
  margin-left: 200px;
  margin-top: 25px;
  position: absolute;
  width: 276px;
  height: 78px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 48px;
  color: #212121;
}
.block1 {
  margin-left: 200px;
  margin-top: 150px;
  width: 425px;
  height: 193px;
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
}
.blockzagolovok1 {
  margin-top: 35px;
  margin-right: 125px;
  width: 180px;
  height: 78px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  color: #212121;
}
.blocktext1 {
  margin-top: -35px;
  padding-left: 60px;
  text-align: left;
  width: 307px;
  height: 84px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  color: #646464;
}
.ikonka1 {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(/images/sr.jpg);
}
.block2 {
  margin-left: 200px;
  margin-top: 150px;
  width: 425px;
  height: 193px;
  background: #caa892;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
}
.blockzagolovok2 {
  margin-top: 35px;
  margin-right: 140px;
  width: 180px;
  height: 78px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}
.blocktext2 {
  margin-top: -35px;
  padding-left: 60px;
  text-align: left;
  width: 307px;
  height: 84px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
.ikonka2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(/images/ere.jpg);
}
.block3 {
  margin-left: 200px;
  margin-top: 150px;
  width: 425px;
  height: 193px;
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
}
.blockzagolovok3 {
  margin-top: 35px;
  margin-right: 165px;
  width: 180px;
  height: 78px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  color: #212121;
}
.blocktext3 {
  margin-top: -35px;
  padding-left: 60px;
  text-align: left;
  width: 307px;
  height: 84px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  color: #646464;
}
.ikonka3 {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(/images/sd.jpg);
}
.knopka1 {
  margin-left: 1610px;
  position: absolute;
  width: 30px;
  height: 29px;
  border-radius: 50%;
  align-items: center;
  background: #ffffff;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
}
.knopka2 {
  margin-left: 1660px;
  position: absolute;
  width: 30px;
  height: 29px;
  border-radius: 50%;
  align-items: center;
  background: #37806b;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
}
.tri1 {
  color: #212121;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.tri2 {
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.ikonka1 {
  width: 40px;
  height: 40px;
}
.ikonka2 {
  width: 40px;
  height: 40px;
}
.ikonka3 {
  width: 40px;
  height: 40px;
}
