.main4row {
  display: flex;
  justify-content: space-between;
}
.texta4 {
  margin-left: 200px;
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.cifra {
  align-items: flex-start;
  width: 327px;
  height: 28px;
}
.zagolovok4 {
  margin-top: 250px;
  width: 528px;
  height: 195px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 50px;
  color: #212121;
}
.readmore {
  display: flex;
  align-items: center;
  width: 142.15px;
  height: 42.81px;
  background: #37806b;
  border-radius: 20px 0px;
}
.readmore:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.knopkaread {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
.shadowfoto3 {
  object-fit: cover;
  position: relative;
  box-sizing: border-box;
  width: 717px;
  height: 626px;
  border: 2px solid #b0855b;
  border-radius: 140px 0px;
  color: #b0855b;
  z-index: -1;
}
.foto3 {
  top: -50px;
  left: -50px;
  position: absolute;
  width: 717px;
  height: 626px;
  border: 2px solid #b0855b;
  border-radius: 140px 0px;
  background: url(/images/pexels-lisa-fotios-1090638.jpg);
}
