.container1{
    width: 1650px;
    height: 626px;
    display: flex;
    justify-content: space-between;
}
.nadzagolovok1{
    position: absolute;
    margin-left: 200px;
    margin-top: 120px;
    display: flex;
    align-items: flex-start;
    width: 186px;
    height: 27px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    color: #646464;
}
.zagolovok1{
    position: absolute;
    margin-left: 200px;
    margin-top: 150px;
    display: flex;
    width: 549px;
    height: 156px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 72px;
    color: #212121;
}
.text1{
    margin-top: 320px;
    margin-left: 200px;
    width: 603px;
height: 90px;
font-family: 'Open Sans';
font-weight: 400;
font-size: 18px;
color: #646464;
}
.contact{
    display: flex;
    align-items: center;
    margin-top: 490px;
    margin-left: 200px;
    position: absolute;
    width: 142.15px;
    height: 42.81px;
    background: #37806B;
    border-radius: 20px 0px;
}
.knopkacon{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
}
.foto1{
    margin-top: 50px;
    box-sizing: border-box;
    width: 917px;
    height: 626px;
    border: 2px solid #B0855B;
    border-radius: 140px 0px;
    color: #B0855B;
    }
.shadowfoto1{
    margin-top: 60px;
    box-sizing: border-box;
    width: 1016px;
    height: 626px;
    border: 2px solid #B0855B;
    border-radius: 140px 0px;
    color: #B0855B;
    z-index: -1;
}
