.main5row {
}
.texta5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  padding-top: 50px;
}
.zagolovok5 {
  text-align: center;
  width: 817px;
  height: 120px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 48px;
  color: #212121;
}
.blocks2 {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  z-index: 3;
}
.block4 {
  align-items: center;
  width: 185px;
  height: 182px;
  background: #ffffff;
  box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0px;
}
.blocktext4 {
  position: absolute;
  text-align: center;
  width: 86px;
  height: 88px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 50px;
  color: #212121;
}
.block5 {
  width: 185px;
  height: 182px;
  background: #ffffff;
  box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0px;
}
.blocks3 {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  z-index: 3;
}
.block6 {
  width: 185px;
  height: 182px;
  background: #ffffff;
  box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0px;
}
.block7 {
  width: 185px;
  height: 182px;
  background: #ffffff;
  box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0px;
}
.lines {
  display: flex;
  justify-content: space-around;
}
.line1 {
  width: 218px;
  height: 96px;
  z-index: 1;
}
.line2 {
  width: 218px;
  height: 96px;
  z-index: 1;
}
.line3 {
  width: 218px;
  height: 96px;
  z-index: 1;
}
