.container2{
    width: 1650px;
    height: 300px;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}
.nadzagolovok2{
    margin-left: 200px;
    position: absolute;
    width: 229px;
    height: 28px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    color: #646464;
}
.zagolovok2{
    margin-left: 200px;
    margin-top: 25px;
    position: absolute;
    width: 276px;
    height: 78px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 48px;
    color: #212121;
}
.block1{
    margin-left: 200px;
    margin-top: 150px;
    width: 425px;
    height: 193px;
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
}
.blockzagolovok1{
    width: 180px;
    height: 78px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    color: #212121;
}
.blocktext1{
    width: 307px;
    height: 84px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    color: #646464;
}
.block2{
    margin-left: 200px;
    margin-top: 150px;
    width: 425px;
    height: 193px;
    background: #CAA892;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
}
.blockzagolovok2{
    width: 180px;
    height: 78px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}
.blocktext2{
    width: 307px;
    height: 84px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
.block3{
    margin-left: 200px;
    margin-top: 150px;
    width: 425px;
    height: 193px;
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
}
.blockzagolovok3{
    width: 180px;
    height: 78px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    color: #212121;
}
.blocktext3{
    width: 307px;
    height: 84px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    color: #646464;
}
.knopka1{
    margin-right: 5px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 29px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
}
.knopka2{
    display: flex;
    align-items: center;
    width: 40px;
    height: 29px;
    border-radius: 50%;
    background: #37806B;
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
}
.tri1{
    color: #212121;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.tri2{
    color: #FFFFFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}