@media screen and (max-width: 480px) and (min-width: 380px) {
  .header {
    width: 480px;
    height: 37px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .hr {
    height: 37px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    column-gap: 7px;
    margin-left: 50px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    color: #646464;
  }
  .logo {
    margin-top: 6px;
    display: flex;
    margin-left: 50px;
    justify-content: flex-start;
  }
  .signup {
    margin-top: 6px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 97px;
    height: 32px;
    background: #caa892;
    border-radius: 15px 0px;
  }
  p {
    font-family: "Open Sans";
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
  }
  .container1 {
    width: 480px;
    height: 326px;
  }
  .main1row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .texta1 {
    margin-left: 50px;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .nadzagolovok1 {
    align-items: flex-start;
    width: 186px;
    height: 27px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 15px;
    color: #646464;
  }
  .zagolovok1 {
    margin-top: 10px;
    width: 349px;
    height: 156px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 52px;
    color: #212121;
  }
  .text1 {
    margin-top: 20px;
    width: 403px;
    height: 90px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    color: #646464;
  }
  .contact {
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 102.15px;
    height: 42.81px;
    background: #37806b;
    border-radius: 20px 0px;
  }
  .contact:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .knopkacon {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
  }
  .shadowfoto1 {
    display: none;
  }
  .foto1 {
    display: none;
  }
  .linia {
    border-top: 1px groove;
  }
  .container2 {
    margin-top: 0%;
    width: 500px;
    height: 326px;
  }
  .main2row {
  }
  .texta2 {
    margin-left: 50px;
  }
  .nadzagolovok2 {
    width: 229px;
    height: 28px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 15px;
    color: #646464;
  }
  .zagolovok2 {
    width: 276px;
    height: 78px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 48px;
    color: #212121;
  }
  .blocks1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 50px;
    padding-top: 15px;
  }
  .block1 {
    width: 425px;
    height: 193px;
    background: #ffffff;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
  }
  .blockzagolovok1 {
    margin-top: 35px;
    margin-right: 125px;
    width: 180px;
    height: 78px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    color: #212121;
  }
  .blocktext1 {
    margin-top: -35px;
    padding-left: 60px;
    text-align: left;
    width: 307px;
    height: 84px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    color: #646464;
  }
  .ikonka1 {
    margin-top: -135px;
    margin-left: 12px;
    width: 40px;
    height: 40px;
    background: url(/images/sr.png);
  }
  .block2 {
    width: 425px;
    height: 193px;
    background: #caa892;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
  }
  .blockzagolovok2 {
    margin-top: 35px;
    margin-right: 140px;
    width: 180px;
    height: 78px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
  }
  .blocktext2 {
    margin-top: -35px;
    padding-left: 60px;
    text-align: left;
    width: 307px;
    height: 84px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
  }
  .ikonka2 {
    margin-top: -135px;
    margin-left: 12px;
    width: 40px;
    height: 40px;
    background: url(/images/ere.png);
  }
  .block3 {
    width: 425px;
    height: 193px;
    background: #ffffff;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
  }
  .blockzagolovok3 {
    margin-top: 35px;
    margin-right: 165px;
    width: 180px;
    height: 78px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    color: #212121;
  }
  .blocktext3 {
    margin-top: -35px;
    padding-left: 60px;
    text-align: left;
    width: 307px;
    height: 84px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    color: #646464;
  }
  .ikonka3 {
    margin-top: -135px;
    margin-left: 12px;
    width: 40px;
    height: 40px;
    background: url(/images/sd.png);
  }
  .knopki1 {
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }

  .knopka1 {
    display: flex;
    width: 30px;
    height: 29px;
    border-radius: 50%;
    align-items: center;
    background: #ffffff;
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
  }
  .knopka2 {
    display: flex;
    margin-left: 25px;
    width: 30px;
    height: 29px;
    border-radius: 50%;
    align-items: center;
    background: #37806b;
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
  }
  .tri1 {
    color: #212121;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .tri2 {
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .container3 {
    margin-top: 0px;
    width: 500px;
    height: 326px;
  }
  .main3row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .texta3 {
    margin-left: 50px;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .foto2 {
    display: none;
  }
  .shadowfoto2 {
    display: none;
  }
  .nadzagolovok3 {
    align-items: flex-start;
    width: 96px;
    height: 30px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 15px;
    color: #646464;
  }
  .zagolovok3 {
    width: 290px;
    height: 114px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 48px;
    color: #212121;
  }
  .text2 {
    margin-top: 100px;
    width: 434px;
    height: 240px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
  }
  .learnmore {
    display: flex;
    align-items: center;
    width: 102.15px;
    height: 42.81px;
    background: #37806b;
    border-radius: 20px 0px;
  }
  .learnmore:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .knopkamore {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
  }
  .blocktexta {
    position: relative;
    flex-direction: column;
  }
  .linia2 {
    border-top: 1px groove;
  }
}
