.main3row {
  display: flex;
  justify-content: space-between;
}
.texta3 {
  margin-left: 200px;
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.foto2 {
  top: 50px;
  left: 50px;
  position: absolute;
  width: 717px;
  height: 626px;
  border: 2px solid #b0855b;
  border-radius: 140px 0px;
  background: url(/images/pexels-vecislavas-popa-1571460.jpg);
}
.shadowfoto2 {
  left: 200px;
  margin-top: 100px;
  object-fit: cover;
  position: relative;
  box-sizing: border-box;
  width: 717px;
  height: 626px;
  border: 2px solid #b0855b;
  border-radius: 140px 0px;
  color: #b0855b;
  z-index: -1;
}
.nadzagolovok3 {
  align-items: flex-start;
  width: 96px;
  height: 30px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  color: #646464;
}
.zagolovok3 {
  width: 490px;
  height: 114px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 48px;
  color: #212121;
}
.text2 {
  width: 544px;
  height: 240px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
}
.learnmore {
  display: flex;
  align-items: center;
  width: 142.15px;
  height: 42.81px;
  background: #37806b;
  border-radius: 20px 0px;
}
.knopkamore {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
.blocktexta {
  position: relative;
  flex-direction: column;
}
